{% block ezpage_settings %}
<ul class="fielddef-settings {{ fielddefinition.fieldTypeIdentifier }}-settings">
    <li class="default-layout">
        <span>Default layout:</span>
        {{ settings.defaultLayout ? settings.defaultLayout : "None" }}
    </li>
</ul>
{% endblock %}
